.playbook-menu{
    position: fixed;
    top:0;
    bottom: 0;
    height: 100%;
    width: 200px;
    overflow: auto;
}

.playbook-host {
    margin-left: 200px;
}

.playbook-menu-list{
    list-style: none;
    margin:0;
    padding:0;
}

.playbook-menu-list_item{
    margin:0;
    padding:0;
}